/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Hind:400,500|Nunito:400,600,700');

// fonts
$base-font-size: 15;
$base-font: 'Hind', sans-serif;
$heading-font: 'Nunito', sans-serif;



// color
$dark-gray: #2a2a2a;
$white: #fff;
$black: #000;

$theme-primary-color: #09a223;
$body-bg-color: $white;
$section-bg-color: #edecec;
$text-color: #7a8595;
$heading-color: #1e2331;
